img{
	padding: 40px 0 0 60px;
	filter:drop-shadow(10px 20px 5px green);

	/*
	filter:blur(5px);
	filter:brightness(50%);
	filter:contrast(50%);
	filter:grayscale(100%);
	filter:invert(70%);
	filter:opacity(50%);
	filter:saturate(200%);
	filter:sepia(200%);
	filter:sepia(100%);
	filter:hue-rotate(50deg);
	filter:drop-shadow(10px 20px 5px green);	
	*/
}