p{
	color:red;
	font-family: tahoma;
	text-decoration:none; /*underline, overline,line-through e none*/
	text-transform: none; /*uppercase, lowercase, capitalize e justify*/
	text-align: justify;
	text-indent:1.5cm; /*recuo no inicio do texto*/
	line-height: 25px; /*altura da linha*/
	direction: ltr; /*rtl right to left ou ltr left to right*/
	letter-spacing: 0px; /*espaçamento entre as letras*/
	word-spacing: 5px; /*espaçameneto entre as palavras*/
} 
h1{
	text-align: left;
	text-shadow: 3px 3px 4px red;
	
}
h2{
	text-align: right;
}
h3{
	text-align: center;
}